li{list-style: none;}
a,a:focus,a:hover,a:visited{color: #FFF; text-decoration: none;}
body{}

/*font*/
@font-face {font-family: "OpenSans"; src: url('../fonts/OpenSans.eot'); src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.svg#OpenSans') format('svg'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype'); font-weight: normal;font-style: normal;}
@font-face {font-family: "OpenSans-Bold"; src: url('../fonts/OpenSans-Bold.eot'); src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Semibold') format('svg'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'); font-weight: normal;font-style: normal;}
@font-face {font-family: "OpenSans-Semibold"; src: url('../fonts/OpenSans-Semibold.eot'); src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg'), url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf') format('truetype'); font-weight: normal;font-style: normal;}
/*end-font*/

/*header*/
header{}
header .head-top{background: #0177BF; padding: 10px 0; position: relative;}
header .phone{color: #FFF; font-family: "OpenSans-Semibold";}
header .maps a{color: #FFF; font-family: "OpenSans-Semibold";}
i.fa.fa-phone{color: #58B6F0; margin-right: 13px;}
i.fa.fa-map-marker{color: #58B6F0; margin-right: 13px;}
i.fa.fa-envelope-o{color: #58B6F0; margin-right: 13px;}
header .social img{float: left; margin-right: 20px;}
header .social{position: absolute; right: 0;}
header .head-bottom{border-bottom: 2px solid #0177BF;}
header .logo{float: left; width: 25%;}
header img.img-logo{margin: 15px 0;}
/*end*/

/*menu*/
.css-menu{padding: 21px 0; margin: 15px 0;}
.css-menu li{float: left; list-style: none; padding: 2px 12px 0 20px;}
.css-menu li a{ text-transform: uppercase; color: #1D2A2D; font-size: 12px; font-family: "OpenSans-Semibold";}
/*end*/

/*slider*/
.theme-default{position: relative;}
.theme-default .nivo-controlNav{position: absolute; width: 100%; top: 357px; z-index: 8; padding: 20px 0;}
/*end*/

/*training*/
.training{margin-bottom: 30px;}
h3.title-training{color: #0177BF; text-align: center; height: 39px; text-transform: uppercase; font-family: "OpenSans-Semibold"; font-size: 24px; padding: 9px 0;}
span.title-training-1{position: relative;}
span.title-training-1:before{content: ""; background: url(../images/icon-training.png) no-repeat left bottom; width: 42px; height: 39px; position: absolute; left: -48px; bottom: 0;}
.detail{color: #6C6C6C; font-family: "OpenSans"; font-size: 14px; text-align: center; padding: 0 256px 0 211px; margin-bottom: 20px;}
.hover-effect{width: 100%; height: 100%; overflow: hidden; cursor:pointer;}
.hover-effect .overlay{width:100%; height:100%; overflow:hidden; top:0; left:0; background-color:rgba(0,0,0,0.5); -webkit-transition:all .4s ease-in-out; transition:all .4s ease-in-out}
.hover-effect img{display:block; position:relative; -webkit-transition:all .4s linear; transition:all .4s linear;}
.hover-effect:hover img{-ms-transform:scale(1.2); -webkit-transform:scale(1.2); transform:scale(1.2);}
.title-training-1{text-align: center; margin: 20px 0;}
.title-training-1 a{color: #232323; font-family: "OpenSans-Bold"; font-size: 18px; text-transform: uppercase;}
.hover-effect:hover .title-training-1 a{color: #0177BF; transition: .5s;}
a.btn-detail{padding: 10px 48px; background: #0177BF; border-radius: 19px;}
.btn-button{text-align: center;}
/*end*/

/*fell*/
.fell{background: url("../images/bg-fell.jpg");}
h3.title-fell{color: #FFF; text-align: center; height: 39px; text-transform: uppercase; font-family: "OpenSans-Semibold"; font-size: 24px; padding: 9px 0;}
span.title-fell-3{position: relative;}
span.title-fell-3:before{content: ""; display: inline-block; background: url("../images/icon-fell.png") no-repeat left; width: 31px; height: 31px; bottom: 0; left: -39px; position: absolute;}
.detail-fell{color: #FFF; font-family: "OpenSans"; font-size: 14px; text-align: center; padding: 0 256px 0 211px; margin-bottom: 20px;}
.title-fell-content{background: #E1E1E1; color: #0E0E0E; font-size: 14px; font-family: "OpenSans"; text-align: center; padding: 7px 37px; line-height: 27px;}
.title-fell-content-2{background: #FFF; color: #0E0E0E; font-size: 14px; font-family: "OpenSans"; text-align: center; padding: 7px 37px; line-height: 27px;}
.owl-carousel .owl-controls .owl-nav .owl-prev{background: url("../images/btn-prev.png") no-repeat; width: 21px; height: 44px; position: absolute;top: 34px; left: -14px;}
.owl-carousel .owl-controls .owl-nav .owl-next{background: url("../images/btn-next.png") no-repeat; width: 21px; height: 44px; position: absolute;top: 34px; right: 21px;}
.owl-carousel .owl-controls .owl-nav{text-indent: -9999px;}
.arrow-left{background: url("../images/arrow-lef.png") no-repeat; width: 21px; height: 12px; top: 119px; left: 45px; position: absolute;}
img.img-fell{width: 80px!important; height: 80px!important; border-radius: 50%; margin: 25px auto;}
.name{color: #FFF; font-family: "OpenSans-Semibold"; text-transform: uppercase; margin-top: 15px;}
.class-mate{color: #FFF; font-family: "OpenSans"; font-size: 14px; font-style: italic;}
.owl-carousel .owl-item{position: relative;}
.arrow-right{background: url("../images/arrow-right.png") no-repeat; width: 21px; height: 12px; top: 119px; right: 61px; position: absolute;}
.img-2{position: absolute; right: 2px; text-align: center;}
.img-left{position: absolute; left: 0; text-align: center;}
img.img-fell-2{width: 80px!important; height: 80px!important; border-radius: 50%; margin: 14px auto;}
.fell_2{height: 338px; left: -47px; top: 26px}
/*end*/

/*news*/
h3.title-news{color: #58B6F0; text-align: center; height: 39px; text-transform: uppercase; font-family: "OpenSans-Semibold"; font-size: 24px; padding: 9px 0; margin-bottom: 23px; position: relative;}
span.title-news-2{position: relative;}
span.title-news-2:before{content: ""; display: inline-block; background: url(../images/icon-news.png) no-repeat left; width: 31px; height: 31px; bottom: 0; left: -39px; position: absolute;}
p.title-news-1 a{color: #262626; font-size: 14px; font-family: "OpenSans-Bold"; text-transform: uppercase;}
.img-news{margin-bottom: 15px;}
p.content-news{color: #646464; font-family: "OpenSans"; font-size: 14px; line-height: 23px;}
.hover-news:hover p.title-news-1 a{color: #0177BF; transition: .5s;}
/*end*/

/*register*/
.register{margin-top: 20px;}
.wrapper{width: 428px; margin: 0 auto;}
.content-left{background: #0177BF; width: 50%; float: left;}
h3.title-register-1{color: #FFF; text-align: justify; height: 39px; text-transform: uppercase; font-family: "OpenSans-Semibold"; font-size: 24px; padding: 9px 38px; margin: 15px 0;}
span.title-register-4{position: relative;}
span.title-register-4:before{content: ""; display: inline-block; background: url("../images/icon-register.png") no-repeat left; width: 35px; height: 33px; bottom: 0; left: -39px; position: absolute;}
.content-register-1{color: #FFF; font-family: "OpenSans"; font-size: 14px;}
label{color: #FFF; font-family: "OpenSans"; font-size: 14px; font-weight: normal; float: left; margin-top: 4px;}
input{width: 85%; border: none; padding: 5px; background: none; color: #FFF;}
input[type="placeholder"]{color: #FFF; font-size: 14px; font-family: "OpenSans";}
input:focus,input:visited{outline: none;}
textarea{width: 85%; border: none; background: none; resize: none; padding: 5px 10px; color: #FFF; font-size: 14px;}
textarea:focus,textarea:visited{outline: none;}
.border{border-bottom: 1px solid #D9D9D9; padding: 10px 0;}
.btn-submit{padding: 12px 75px; margin: 15px 0; border: none; background: #F4F4F4; font-size: 14px; font-family: "OpenSans-Semibold"; text-transform: uppercase; border-radius: 6px;}
.btn-submit:focus,.btn-submit:visited{outline: none;}
.content-right{background: url("../images/bg-right.jpg"); width: 50%; float: right; padding: 60px 0;}
h3.title-register-2{color:  #0177BF; text-align: center; height: 39px; text-transform: uppercase; font-family: "OpenSans-Bold"; font-size: 24px; padding: 49px 38px; margin: 15px 0;}
img.img-logo-1{margin: 0 auto;}
.hotline{color: #ea641d; font-size: 48px; font-family: "Opensans-Semibold"; text-align: center; margin: 20px 0;}
/*end*/

/*footer*/
footer{}
img.img-logo-footer-1{margin: 90px auto;}
footer h3.title-contact{font-family: "OpenSans-Bold"; font-size: 18px; color: #262626; text-transform: uppercase; border-bottom: 1px solid #EDEDED; position: relative; padding: 13px 0}
footer h3.title-contact:before{content: ""; display: inline-block; background: #0177BF; width: 69px; height: 2px; bottom: -1px; position: absolute;}
footer .phone-1{color: #8F8F8F; font-size: 14px; font-family: "OpenSans-Semibold"; text-transform: uppercase;}
footer .maps-1 a{color: #8F8F8F; font-size: 14px; font-family: "OpenSans-Semibold"; text-transform: uppercase;}
footer .email-1 a{color: #8F8F8F; font-size: 14px; font-family: "OpenSans-Semibold"; text-transform: uppercase;}
i.fa.fa-envelope{color: #0177BF; margin-right: 8px;}
.contact{line-height: 25px;}
i.fa.fa-facebook{color: #888888; width: 37px; height: 37px; border-radius: 50%; background: #E5E5E5; padding: 12px 14px; margin-top: 10px; margin-right: 5px;}
i.fa.fa-twitter{color: #888888; width: 37px; height: 37px; border-radius: 50%; background: #E5E5E5; padding: 12px 13px; margin-top: 10px; margin-right: 5px;}
i.fa.fa-google{color: #888888; width: 37px; height: 37px; border-radius: 50%; background: #E5E5E5; padding: 12px 13px; margin-top: 10px; margin-right: 5px;}
i.fa.fa-instagram{color: #888888; width: 37px; height: 37px; border-radius: 50%; background: #E5E5E5; padding: 12px 13px; margin-top: 10px; margin-right: 5px;}
i.fa.fa-facebook:hover{background: #3B5999; transition: .5s; color: #FFF;}
i.fa.fa-twitter:hover{background: #1BA4EC; transition: .5s; color: #FFF;}
i.fa.fa-google:hover{background: #FC4C60; transition: .5s; color: #FFF;}
i.fa.fa-instagram:hover{background: #BB8175; transition: .5s; color: #FFF;}
footer h3.title-register-3{font-family: "OpenSans-Bold"; font-size: 18px; color: #262626; text-transform: uppercase; border-bottom: 1px solid #EDEDED; position: relative; padding: 13px 0;}
footer h3.title-register-3:before{content: ""; display: inline-block; background: #0177BF; width: 69px; height: 2px; bottom: -1px; position: absolute;}
footer .content-register-3{color: #8E8E8E; font-family: "Opensans-Semibold"; font-size: 14px;}
input[type="text"]#check-email{color: #6C6C6C; padding: 7px 10px; border: 1px solid #CCCCCC; width: 270px;}
button.submit-1{background: #9F0000 url(../images/icon-send.png) no-repeat 55px 9px; border: none; padding: 8px 28px 8px 11px; color: #FFF; font-size: 14px; font-family: "OpenSans"; text-transform: uppercase; margin-top: 1px;}
button.submit-1:focus,button.submit:visited{outline: none;}
footer .f-bottom{background:#0177BF;}
footer .copyright{padding-top: 7px; color: #FFF; font-size: 14px; font-family: "OpenSans"; text-transform: uppercase;}
footer .design{text-align: right; color: #FFF; padding-top: 7px; font-size: 14px; font-family: "OpenSans"; text-transform: uppercase;}
footer .company{color: #EF3E00;}
/*end*/

.clearfix{clear: both;}